@model CompanyAddedViewModel

<h5>Your company was successfully added!</h5>

<div>Chars in name: @Model.NumbersOfCharsInName</div>
<div>Chars in descrition: @Model.NumbersOfCharsInDescription</div>
<div>Is hidden?: @(Model.IsHidden? "yes" : "now")</div>